$purple: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
$white: #fff;
$gray: rgba(255, 255, 255, 0.5);
$dark: rgba(255, 255, 255, 0.1);

@mixin breakpoint($point) {
	@if $point == xxl {
		@media (max-width: 1400px) {
			@content;
		}
	} @else if $point == xl {
		@media (max-width: 1200px) {
			@content;
		}
	} @else if $point == lg {
		@media (max-width: 992px) {
			@content;
		}
	} @else if $point == md {
		@media (max-width: 768px) {
			@content;
		}
	} @else if $point == sm {
		@media (max-width: 576px) {
			@content;
		}
	} @else if $point == xs {
		@media (max-width: 400px) {
			@content;
		}
	} @else {
		@media (max-width: $point) {
			@content;
		}
	}
}
